@charset "ISO-8859-1";


*{
	font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .topbar{
    box-sizing: border-box;
    border: 2px solid #3E362E;
    display: flex;
    top: 0;
    left: 0;
    align-items: center;
    height: 120px;
    font-family: "Sofia-Regular", Helvetica;
    background-color: #865d36;
  }
  
  
  .image{
    position: relative;
     width: 100px;
     height: 100px;
     margin-bottom: 0px;
     margin-left: 20px;
     object-fit: cover;
   }
  
   .title{
    flex: 1;
    margin-left: 7%;
    cursor: pointer;
    font-style: italic;
    font-weight: 600;
    font-size: 60px;
    color: #3E362E;
    position: relative;
   }
  
   .topbar ul{
    flex: 1;
    text-align: center;
    margin-right: 30px;
   }
  
   .topbar ul li{
    display: inline-flex;
    margin: 10px 10px;
    padding: 4px;
   }
  
   .topbar ul li a{
    display: inline-flex;
    text-decoration: none;
    color: #000000;
    font-size: 25px;
    align-items: center;
    position: relative;
   }
  
   .topbar ul li a:hover{
    padding: 12px;
    background-color: rgb(255,47 ,165);
    transition: 10s;
   }

   .container h1{
   background-color: rgb(128, 255, 255);
   padding: 10px 15px;
   border-bottom: 2px solid #ccc;
   font-size: 20px;
   font-family: "Sofia-Regular", Helvetica;
   font-weight: 300;
   text-align: center;
   }

   .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 200;


  }
  
  input[type="text"],
  input[type="number"],
  textarea,
  select {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }

  .btn{
    background-color: #007bff;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .container4{
    background-color: #93785B;
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 80px;
   
  }
  
  
  .link{
    text-decoration: none;
    font-size: 24px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #000000af;
    margin-top: 50px;
   }
  